{% extends 'base/base.html'%}

{% block barra_navegadora %}
<form class="navbar-form navbar-right">
    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'streaming.views.logout' %}'">logout</button>
</form>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-dm-3">
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="{% url 'streaming.views.archivoCSV' %}">Cargar Archivo <span class="sr-only">(current)</span></a></li>
                        <li><a href="{% url 'streaming.views.registro_usr' %}">Registrar usuarios</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-dm-8">
            {% block content_admin %}
            {% endblock %}
    </div>
</div>
{% endblock %}