{% extends 'usuario/administrador/administrador.html'%}

{% block content_admin %}
<br><br> <br> <br> <br> <br> <br> 


<div class="container">

	<form method="POST" class="signin" enctype="multipart/form-data">
		
		{% csrf_token %}
		{{csv_form.as_p}}
		<input type="submit" value="Enviar datos"> <!-- boton de enviar datos -->
		
		{% if messages %}
			<div class="row">
				<div class='col-xs-12'> 
					{% for message in messages %}
					<p {% if message.tags %} class="{{message.tags}}"{% endif %}>
						{{message}}
					</p>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</form>
</div>
{% endblock %}