{% extends 'usuario/administrador/administrador.html'%}

{% block content_admin_menu %}
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-10 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{% url 'streaming.views.archivoCSV' %}">CARGAR ARCHIVO <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'streaming.views.crud_usuario' %}">CRUD USUARIO</a></li>
                <li><a href="{% url 'streaming.views.crud_artista' %}">CRUD ARTISTA</a></li>
                <li><a href="{% url 'streaming.views.crud_canciones' %}">CRUD CANCIONES</a></li>
                <li><a href="{% url 'show_usr_membresia' 0 %}">USUARIOS CON MEMBRESIA</a></li>
                <li><a href="{% url 'streaming.views.show_repoAdmin' %}">REPORTES</a></li>
        </div>
    </div>
</div>
{% endblock %}

{% block content_admin %}
    {% block content_admin_principal %}
    {% endblock %}
{% endblock %}