{% extends 'usuario/administrador/reportesPrinc.html'%}

{% block content_admin_reportes %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>nombre</td>
            <td>veces reproducidas</td>
        </tr>
    </thead>
    <tbody>
        {% if logs_lst%}
        {% for song in logs_lst %}
        <tr>
            <td>{{song.0}}</td>
            <td>{{song.1}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1> No hay registros de canciones</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}