{% extends 'usuario/administrador/reportesPrinc.html'%}

{% block content_admin_reportes %}
<form method="POST" class="signin" enctype="multipart/form-data">{% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <td>
                <h4>Usuario</h4>
            </td>
            <td>
                <select name="dropdown1">
                    {% if estados%}
                    {% for estado in estados%}
                    <option value="{{estado}}">{{estado}}
                    </option>
                    {% endfor %}
                    {% endif%}
                </select>
            </td>
            <td>
                    <h3>MEMBRESIAS</h3>
            </td>
            <td>
                <h4>-----</h4>
            </td>
            <td>
                <select name="dropdown2">
                    {% if artistas%}
                    {% for artista in artistas%}
                    <option value="{{artista.id_artista}}">{{artista.nombre}}
                    </option>
                    {% endfor %}
                    {% endif%}
                </select>
            </td>
            <td>
                <input type="submit" value="mostrar">
            </td>
        </tr>
        <tr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>fecha inicio</td>
                        <td>fecha fin</td>
                        <td>propietario</td>
                    </tr>
                </thead>
                <tbody>
                    {% if membresias%}
                    {% for membresia in membresias %}
                    <tr>
                        <td>{{membresia.id_membresia}}</td>
                        <td>{{membresia.fecha_inicio}}</td>
                        <td>{{membresia.fecha_fin}}</td>
                        <td>{{membresia.usuario_id_usuario.nombre}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1> No hay registros de usuarios</h1>
                    {% endif %}
                </tbody>
            </table>

        </tr>
    </table>

</form>
{% endblock %}