{% extends 'usuario/administrador/reportesPrinc.html'%}

{% block content_admin_reportes %}
<form method="POST" class="signin" enctype="multipart/form-data">{% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <td>
                <h4>Usuario</h4>
            </td>
            <td>
                <select name="dropdown1">
                    {% if usuarios%}
                    {% for usuario in usuarios%}
                    <option value="{{usuario.id_usuario}}">{{usuario.nombre}}
                    </option>
                    {% endfor %}
                    {% endif%}
                </select>
            </td>
            <td>
                Suscrito a:
            </td>
            <td>
                <h4>Artista</h4>
            </td>
            <td>
                <select name="dropdown2">
                    {% if artistas%}
                    {% for artista in artistas%}
                    <option value="{{artista.id_artista}}">{{artista.nombre}}
                    </option>
                    {% endfor %}
                    {% endif%}
                </select>
            </td>
            <td>
                <input type="submit" value="mostrar">
            </td>
        </tr>
        <tr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>nombre</td>
                        <td>apellidos</td>
                        <td>correo</td>
                        <td>telefono</td>
                    </tr>
                </thead>
                <tbody>
                    {% if usuariosxartistas%}
                    {% for suscrito in usuariosxartistas %}
                    <tr>
                        <td>{{suscrito.usuario_id_usuario.id_usuario}}</td>
                        <td>{{suscrito.usuario_id_usuario.nombre}}</td>
                        <td>{{suscrito.usuario_id_usuario.apellidos}}</td>
                        <td>{{suscrito.usuario_id_usuario.correo}}</td>
                        <td>{{suscrito.usuario_id_usuario.telefono}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1> No hay registros de usuarios</h1>
                    {% endif %}
                </tbody>
            </table>

        </tr>
    </table>

</form>
{% endblock %}