{% extends 'base/base.html'%}

{% block barra_navegadora %}
<form class="navbar-form navbar-right">
    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'streaming.views.logout' %}'">logout</button>
</form>
{% endblock %}

{% block content %}
<br><br><br>
<br><br><br>
<div class="row">
    <div class="col-md-12 col-md-offset-5">
        {%if cancion %}
        <audio controls>
            <source src="/upload/{{cancion.ruta_cancion}}" type="audio/mpeg">
        </audio>
        {% endif %}
    </div>
</div>
{% endblock %}