{% extends 'usuario/premium/premium.html'%}

{% block content_menu_usrPrem %}
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-10 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{% url 'streaming.views.un_show_songsPrem' %}">VER CANCIONES <span class="sr-only">(current)</span></a></li>
                <li><a href="#">EDITAR CUENTA</a></li>
                <li><a href="{% url 'show_artistas' 0 %}">MOSTRAR ARTISTAS</a></li>
                <li><a href="{% url 'streaming.views.showRepPrincipal' %}">REPORTES</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content_usrPrem %}
    {% block content_admin_principal %}
    {% endblock %}
{% endblock %}