{% extends 'usuario/premium/showRepPrincipal.html'%}

{% block content_premium_reportes %}
<form method="POST" class="signin" enctype="multipart/form-data">{% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <td>
                <h4>genero</h4>
            </td>
            <td>
                <select name="dropdown1">
                    {% if lstGen%}
                    {% for genero in lstGen%}
                    <option value="{{genero.id_genero}}">{{genero.nombre}}
                    </option>
                    {% endfor %}
                    {% endif%}
                </select>
            </td>
            <td>
                escoger el orden para mostrar :
            </td>
            <td>
                <h4>orden</h4>
            </td>
            <td>
                <select name="dropdown2">
                    {% if lstOrden%}
                    {% for orden in lstOrden%}
                    <option value="{{orden}}">{{orden}}
                    </option>
                    {% endfor %}
                    {% endif%}
                </select>
            </td>
            <td>
                <input type="submit" value="mostrar">
            </td>
        </tr>
        <tr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>nombre</td>
                        <td>fecha_lanzamiento</td>
                        <td>artista</td>
                        <td>genero</td>
                    </tr>
                </thead>
                <tbody>
                    {% if lstAlbm%}
                    {% for album in lstAlbm %}
                    <tr>
                        <td>{{album.id_cancion}}</td>
                        <td>{{album.nombre}}</td>
                        <td>{{album.fecha_lanzamiento}}</td>
                        <td>{{album.artista_id_artista.nombre}}</td>
                        <td>{{album.genero_id_genero.nombre}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1> No hay registros de albums</h1>
                    {% endif %}
                </tbody>
            </table>

        </tr>
    </table>

</form>
{% endblock %}